<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
  <logging>
    <log type="coverage-clover" target="build/logs/clover.xml"/>
  </logging>

  <testsuites>
    <testsuite name="Unirest Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>

  <php>
    <ini name="date.timezone" value="UTC"/>
  </php>
</phpunit>
